<head>
    <title>Prime</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=1024' name='viewport'>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
    <link href='fonts/PTSans/stylesheet.css' rel='stylesheet'>
    <link href='sass/style.css' rel='stylesheet'>
    <link href='css/stylesheet.css' rel='stylesheet'>
    <link href='libs/heroCarousel/jquery.heroCarousel.css' rel='stylesheet'>
    <link href='compass/timer/stylesheets/style.css' rel='stylesheet'>
</head>