<header>
  <div class='container'>
    <div class='row top-header'>
      <div class='col-3 logo'>
        <a href='./index.html'>
          <img src='img/logo.png'>
        </a>
      </div>
      <div class='col-4'>
        <div class='description'>
          Продажа и установка пластиковых окон
          REHAU в Екатеринбурге и области
        </div>
      </div>
      <div class='col-2'>
        <div class='tel bold'>
          8 (800) 505-63-80
        </div>
        <a class='feedback' href='#'>
          Заказать обратный звонок
        </a>
      </div>
      <div class='col-2 align-right btn-count'>
        <a class='base-link get-cost' href='/#'>Рассчитать стоимость</a>
        <a class='base-link call-spec' href='/#'>Вызвать замерщика</a>
      </div>
    </div>
  </div>
  <div class='fluid-container main-menu'>
    <div class='row'>
      <div class='container'>
        <ul>
          <li>
            <a href='windows.html'>Окна</a>
          </li>
          <li>
            <a href='windows.html'>Остекление балконов</a>
          </li>
          <li>
            <a href='windows.html'>Остекление фасадов</a>
          </li>
          <li>
            <a href='windows.html'>Дизайн окна</a>
          </li>
          <li>
            <a href='windows.html'>Услуги</a>
          </li>
          <li>
            <a href='windows.html'>Стоимость</a>
          </li>
          <li>
            <a href='windows.html'>Акции</a>
          </li>
          <li>
            <a href='windows.html'>О нас</a>
          </li>
          <li>
            <a href='windows.html'>Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
