%header
  .container
    .row.top-header
      .col-3.logo
        %a(href="./index.html")
          %img(src="img/logo.png")
      .col-4
        .description
          Продажа и установка пластиковых окон
          REHAU в Екатеринбурге и области
      .col-2
        .tel.bold
          8 (800) 505-63-80
        %a.feedback(href="#")
          Заказать обратный звонок
      .col-2.align-right.btn-count
        %a.base-link.get-cost(href="/#") Рассчитать стоимость
        %a.base-link.call-spec(href="/#") Вызвать замерщика
  .fluid-container.main-menu
    .row
      .container
        %ul
          %li
            %a(href="windows.html") Окна
          %li
            %a(href="windows.html") Остекление балконов
          %li
            %a(href="windows.html") Остекление фасадов
          %li
            %a(href="windows.html") Дизайн окна
          %li
            %a(href="windows.html") Услуги
          %li
            %a(href="windows.html") Стоимость
          %li
            %a(href="windows.html") Акции
          %li
            %a(href="windows.html") О нас
          %li
            %a(href="windows.html") Контакты