%title Prime
%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta{:content => "width=1024", :name => "viewport"}
%link(rel="stylesheet" href="fonts/PTSans/stylesheet.css")
%link(rel="stylesheet" href="sass/style.css")
%link(rel="stylesheet" href="css/stylesheet.css")
%link(rel="stylesheet" href="libs/heroCarousel/jquery.heroCarousel.css")
%link(rel="stylesheet" href="js/styles/jquery.carousel-3d.default.css")
%link(rel="stylesheet" href="compass/timer/stylesheets/style.css")