<div class='hero'>
  <div class='hero-carousel'>
    <article>
      <img alt='slide 1' height='550' src='img/hero/slide-1.jpg' width='980'>
      <div class='contents'>
        <h1>Пластиковое окно в комнате.</h1>
        <p>Цена: 12 800 р.</p>
      </div>
    </article>
    <article>
      <img alt='slide 2' height='550' src='img/hero/slide-2.jpg' width='980'>
      <div class='contents'>
        <h1>Пластиковое окно в комнате.</h1>
        <p>Цена: 12 800 р.</p>
      </div>
    </article>
    <article>
      <img alt='slide 3' height='550' src='img/hero/slide-3.jpg' width='980'>
      <div class='contents'>
        <h1>Пластиковое окно в комнате.</h1>
        <p>Цена: 12 800 р.</p>
      </div>
    </article>
  </div>
</div>
