.hero
  .hero-carousel
    %article
      %img{:alt => "slide 1", :height => "550", :src => "img/hero/slide-1.jpg", :width => "980"}/
      .contents
        %h1 Пластиковое окно в комнате.
        %p Цена: 12 800 р.
    %article
      %img{:alt => "slide 2", :height => "550", :src => "img/hero/slide-2.jpg", :width => "980"}/
      .contents
        %h1 Пластиковое окно в комнате.
        %p Цена: 12 800 р.
    %article
      %img{:alt => "slide 3", :height => "550", :src => "img/hero/slide-3.jpg", :width => "980"}/
      .contents
        %h1 Пластиковое окно в комнате.
        %p Цена: 12 800 р.