<div class='slider-wrap'>
  <div class='owl-carousel' id='slider'>
    <div class='item'>
      <img alt='' src='img/slider_image.jpg'>
      <div class='container'>
        <div class='caption'>
          Надежные и долговечные окна
          с энергосберегающими стеклами
          <br>
          <span class='bold'>от ПРОИЗВОДИТЕЛЯ</span>
          <div class='row icons'>
            <div class='icon icon-1'>
              <img alt='' src='img/slider_icon_1.png'>
              <p class='small t-u'>Теплоизоляция</p>
            </div>
            <div class='icon icon-2'>
              <img alt='' src='img/slider_icon_2.png'>
              <p class='small t-u'>Долговечность</p>
            </div>
            <div class='icon icon-3'>
              <img alt='' src='img/slider_icon_3.png'>
              <p class='small t-u'>Звукоизоляция</p>
            </div>
            <div class='icon icon-4'>
              <img alt='' src='img/slider_icon_4.png'>
              <p class='small t-u'>Гарантия 10 лет</p>
            </div>
          </div>
          <div class='clr'></div>
          <div class='row more'>
            <a class='base-link get-cost more' href='#/'>Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <img alt='' src='img/slider_image.jpg'>
      <div class='container'>
        <div class='caption'>
          Надежные и долговечные окна
          с энергосберегающими стеклами
          <br>
          <span class='bold'>от ПРОИЗВОДИТЕЛЯ</span>
          <div class='row icons'>
            <div class='icon icon-1'>
              <img alt='' src='img/slider_icon_1.png'>
              <p class='small t-u'>Теплоизоляция</p>
            </div>
            <div class='icon icon-2'>
              <img alt='' src='img/slider_icon_2.png'>
              <p class='small t-u'>Долговечность</p>
            </div>
            <div class='icon icon-3'>
              <img alt='' src='img/slider_icon_3.png'>
              <p class='small t-u'>Звукоизоляция</p>
            </div>
            <div class='icon icon-4'>
              <img alt='' src='img/slider_icon_4.png'>
              <p class='small t-u'>Гарантия 10 лет</p>
            </div>
          </div>
          <div class='clr'></div>
          <div class='row more'>
            <a class='base-link get-cost more' href='#/'>Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <img alt='' src='img/slider_image.jpg'>
      <div class='container'>
        <div class='caption'>
          Надежные и долговечные окна
          с энергосберегающими стеклами
          <br>
          <span class='bold'>от ПРОИЗВОДИТЕЛЯ</span>
          <div class='row icons'>
            <div class='icon icon-1'>
              <img alt='' src='img/slider_icon_1.png'>
              <p class='small t-u'>Теплоизоляция</p>
            </div>
            <div class='icon icon-2'>
              <img alt='' src='img/slider_icon_2.png'>
              <p class='small t-u'>Долговечность</p>
            </div>
            <div class='icon icon-3'>
              <img alt='' src='img/slider_icon_3.png'>
              <p class='small t-u'>Звукоизоляция</p>
            </div>
            <div class='icon icon-4'>
              <img alt='' src='img/slider_icon_4.png'>
              <p class='small t-u'>Гарантия 10 лет</p>
            </div>
          </div>
          <div class='clr'></div>
          <div class='row more'>
            <a class='base-link get-cost more' href='#/'>Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
