//colors
$white: #ffffff;
$pink: #bb93a9;
$pink2: #f4b6ba;
$blue: #1bad9b;
$noise: #bebebe;
$darkpink: #7f657e;
$reg:'PT Sans';
$bold: 'font-weight: 700';
$sans-serif: sans-serif;
$light_italic: 'ProximaNova-LightIt';
$serif:'serif';
$black: #000000;
$blue: #1475a7;
$white: #FFFFFF;
//fonts
//colors
$gray: #999999;
$white: #fff;
$color_mine_shaft_approx: #333;
$color_coral_red_approx: #ff4440;
$black: black;
$color_silver_approx: #bebebe;
$color_mountain_mist_approx: #999;
